# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# vim: set nospell:
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.270
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: docs\/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.3.0"
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
        exclude: testapp
  - repo: https://github.com/psf/black
    rev: "23.3.0"
    hooks:
      - id: black
